EXPO_PUBLIC_API_BASE_URL=https://your-api-id.execute-api.ap-northeast-1.amazonaws.com/prod
EXPO_PUBLIC_COGNITO_USER_POOL_ID=ap-northeast-1_XXXXXXXXX
EXPO_PUBLIC_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_COGNITO_REGION=ap-northeast-1
EXPO_PUBLIC_S3_BUCKET=growgram-media-bucket
EXPO_PUBLIC_S3_REGION=ap-northeast-1
